.grid {
  padding: 0.5rem;
  gap: 1rem;
  margin: 0 auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.filters {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}
